/* Base Element Styles ----------------------------- */

  body {
    font-family: 'monospace', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  background-color: #073c4b;
}

a {
  text-decoration: none;
  color: #32cfe0;
}

.border {
  background: radial-gradient(#073c4b 50%, #1e85aa);
  padding: 15px 20px;
  margin: 20px;
  border: 3px solid #32cfe0;
  border-radius: 30px;
}

h1 {
  font-weight: bold;
  color: #32cfe0;
}

li {
  text-align: center;
  background-color: #073c4b;
  padding: 20px 20px;
  margin: auto;
  border: 3px solid #32cfe0;
  border-radius: 20%;
}

/* Header Content ----------------------------- */
.main-header {
    display:flex;
    flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date {
  text-align: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 30px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.main-nav li:hover {
  border-color: #bbd9fe;
  -webkit-transition: all 5s ease;
  width: 20vh;
}

/* Main Content ----------------------------- */
.main-content {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  height: 60vh  ;
}

/* Status */
.status img {
  -webkit-transition: all 0.5s ease; /*Expanding image transition*/
  width: 10vh;
  height: 10vh;
}

.status img:hover {
  width: 50vh;
  height: 50vh;
}

/* Center Console */
.console {
  flex: 5;
  margin: auto;
}

.hue {
  text-align: center;
  background-color: #073c4b;
  padding: 30px 30px;
  margin: auto;
  border: 3px solid #32cfe0;
  border-radius: 100%;
}

/* Character Profiles */
.profiles {
    flex: 1.5;
}

.characters {
  display: flex;
  flex-direction: column;
  flex: 1;
  -webkit-transition: all 1s ease;
}

.characters li:hover {
  width: 10vh;
  height: 10vh;
}

.lord {
  background: no-repeat center url("../images/lordcommander.jpg");
}

.moon {
  background: no-repeat center url("../images/mooncake.jpg");
}

.night {
  background: no-repeat center url("../images/nightfall.jpg");
}

/* Footer Content ----------------------------- */
.welcome {
  text-align: center;
  color: #32cfe0;
}

.main-footer {
  text-align: center;
}
