/* Base Element Styles ==================================*/

  body {
  font-family: 'Roboto Mono', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  background-color: #073c4b;
}

a {
  text-decoration: none;
  color: #32cfe0;
}

li {
  text-align: center;
  background-color: #073c4b;
  padding: 20px 20px;
  margin: auto;
  border: 3px solid #32cfe0;
  border-radius: 20%;
}

.border {
  background: radial-gradient(#073c4b 50%, #1e85aa);
  padding: 15px 20px;
  margin: 20px;
  border: 3px solid #32cfe0;
  border-radius: 30px;
}

/* Heading Styles ---------------------------------------*/

h1,
h2,
h3 {
  font-weight: bold;
  color: #32cfe0;
  text-shadow: 0 0 20px #073c4b;
}

h1:hover {
  text-shadow: 0 0 20px #7993d5, 0 0 50px #bbd9fe;
}

.lightup:hover {
  box-shadow: 0 0 20px #7993d5, 0 0 50px #bbd9fe;
}

h3 {
    padding: 0;
    margin: 0;
    text-align: right;
}

/* Flexbox rules ---------------------------------------*/

.main-header,
.info,
.main-nav,
.main-content,
.main {
  display: flex;
}

.main-header,
.main-nav,
.main-content {
  flex-direction: row;
}

.info,
.main {
  flex-direction: column;
}

/* Header Content ======================================*/

.info {
  flex: 1;
}

.date {
  text-align: center;
}

.main-nav {
  padding: 10px;
  margin: 30px;
  flex: 1;
}


.main-nav li {
  flex-basis: 0;
}



/* Main Content =========================================*/
.main {
  flex: 1;
  padding: 10px;
  height: 40vh;
}

/* Status -----------------------------------------------*/
.status h1 {
  text-align: center;
}

.status img {
  -webkit-transition: all 0.5s ease; /*Expanding image transition*/
  width: 30vh;
  height: 30vh;
  overflow: hidden;
  padding: 5px;
  margin: 0;
}

.status img:hover {
  width: 50vh;
  height: 50vh;
}

/* Center Console --------------------------------------*/
.console {
  flex: 5;
  margin: auto;
  background: linear-gradient(#073c4b, transparent 90%),
              linear-gradient(0deg, #1e85aa, transparent);
  border-radius: 50%;
}

.hue {
  text-align: center;
  font-size: 6em;
  background-color: linear-gradient(#073c4b, white) ;
  padding: 30px 30px;
  margin: auto;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 30px #1e85aa, 0 0 40px #1e85aa, 0 0 50px #1e85aa;
  }

  to {
    text-shadow: 0 0 30px #32cfe0, 0 0 40px #32cfe0, 0 0 50px #32cfe0, 0 0 60px #32cfe0;
  }
}

/* Character Pictures ----------------------------------*/

#charPic {
    margin: 0;
    padding: 5px;
    opacity: 0.9;
    max-width: 90%;
}

/* Welcome Message -------------------------------------*/
.welcome {
  text-align: center;
}

/* Footer Content ======================================*/

.main-footer {
  text-align: center;
  color: #1e85aa;
}

/* Media Queries =======================================*/
@media (min-width: 1025px) {
  body {
    margin: auto;
    max-width: 80%;
  }
}
