/* Base Element Styles ----------------------------- */

  body {
    font-family: 'monospace', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  background-color: #073c4b;
  }

a {
  text-decoration: none;
  color: #32cfe0;
}

.border {
  background: radial-gradient(#073c4b 50%, #1e85aa);
  padding: 15px 20px;
  margin: 20px;
  border: 3px solid #32cfe0;
  border-radius: 30px;
}

h1 {
  font-weight: bold;
  color: #32cfe0;
}

li {
  text-align: center;
  background-color: #073c4b;
  padding: 20px 20px;
  margin: auto;
  border: 3px solid #32cfe0;
  border-radius: 20%;
}

/* Header Content ----------------------------- */
.main-header {
    display:flex;
    flex-direction: row;
}


.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date {
  text-align: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 30px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

/* .main-nav li:hover {
  border-color: #bbd9fe;
  -webkit-transition: all 1s ease;
  width: 20vh;
  flex:1;
} */

/* Main Content ----------------------------- */
.main-content {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  height: 40vh;
}

/* Status */
.status img {
  -webkit-transition: all 0.5s ease; /*Expanding image transition*/
  width: 30vh;
  height: 30vh;
  align-self: center;
}

.status img:hover {
  width: 50vh;
  height: 50vh;
}

/* Center Console */
.console {
  flex: 5;
  margin: auto;
  background: linear-gradient(#073c4b, transparent 90%),
              linear-gradient(0deg, #1e85aa, transparent);
  border-radius: 50%;
}

.hue {
  text-align: center;
  font-size: 6em;
  background-color: linear-gradient(#073c4b, white) ;
  padding: 30px 30px;
  margin: auto;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 30px #1e85aa, 0 0 40px #1e85aa, 0 0 50px #1e85aa;
  }

  to {
    text-shadow: 0 0 30px #32cfe0, 0 0 40px #32cfe0, 0 0 50px #32cfe0, 0 0 60px #32cfe0;
  }
}

/* Character Profiles */

.characters {
  display: flex;
  flex-direction: column;
  flex: 1;
  -webkit-transition: all 1s ease;
  color: #073c4b;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
}

.characters li:hover {
  width: 10vh;
  height: 10vh;
}



.lord{
  background: no-repeat center url("../images/lordcommander.jpg");
  opacity: 0.6;
}

.moon {
  background: no-repeat center url("../images/mooncake.jpg");
  opacity: 0.6;
}

.night {
  background: no-repeat center url("../images/nightfall.jpg");
  opacity: 0.6;
}

/* Footer Content ----------------------------- */
.welcome {
  text-align: center;
  color: #32cfe0;
}


.main-footer {
  text-align: center;
}
